
<h2 class="headers"> Add Opportunity </h2>
<!-- company submition form -->
  <div id="companySubmitContainer">
    <table>
      <thead>
        <tr>
          <th> Company Name </th>
          <th> Contact First Name </th>
          <th> Contact Last Name </th>
          <th> Contact Email </th>
          <th> Initial Contact Date </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <input ng-model="ac.company.companyName" type="text"> </td>
          <td> <input ng-model="ac.company.firstName" type="text"> </td>
          <td> <input ng-model="ac.company.lastName" type="text"> </td>
          <td> <input ng-model="ac.company.email" placeholder="example@gmail.com" type="text"> </td>
          <td> <input ng-model="ac.company.contactDate" placeholder="MM/DD/YY" type="text"> </td>
        </tr>
      </tbody>
    </table>
    <div>
      <label> Notes </label>
      <textarea ng-model="ac.company.note" rows="8" cols="80"></textarea>
    </div>
    <div>
      <button ng-click="ac.addCompany(ac.company)" type="button" name="button"> Submit </button>
    </div>
  </div>
