
  <h2 class="headers"> Manage Opportunities </h2>
<!-- filters -->
  <div class="filterContainer">
    <div>
      <label for=""> Company Name / Contact Date </label>
        <select ng-model="mc.filter.contactDate">
          <option value="null"> All Companys </option>
          <option ng-repeat="filteredDates in mc.filteredDates.list" value="{{filteredDates.contactdate}}"> {{filteredDates.companyname}} </option>
        </select>
    </div>
    <div>
      <label for=""> Active Opportunities </label>
        <select ng-model="mc.filter.active">
          <option value="true"> True </option>
          <option value="false"> False </option>
        </select>
    </div>
    <div>
      <button ng-click="mc.getFilterResults(mc.filter)" class="btn btn-primary" type="button"> Filter </button>
    </div>
  </div>

<!-- opportunities table -->
  <div class="manageDiv">
    <table class="manageTable" ng-repeat="allOpportunities in mc.allOpportunities.list">
        <tr>
          <td class="manageTd">
            <div>
              <label for=""> Active: </label>
                <input type="checkbox" ng-model="allOpportunities.active" value="true"> {{allOpportunities.active}}
            </div>
          </td>
          <td class="manageTd">
            <div>
              <label for=""> Company Name: </label>
                <input type="text" ng-model="allOpportunities.companyname">
            </div>
            <div>
              <label for=""> Contact First Name: </label>
                <input type="text" ng-model="allOpportunities.contactfirstname">
            </div>
            <div>
              <label for=""> Contact Last Name: </label>
                <input type="text" ng-model="allOpportunities.contactlastname">
            </div>
            <div>
              <label for=""> Contact Email: </label>
                <input type="text" ng-model="allOpportunities.contactemail">
            </div>
            <div>
              <label for=""> Initial Contact Date: </label>
                <input type="text" ng-model="allOpportunities.contactdate">
            </div>
          </td>
          <td class="manageTd">
            <label id="textareaLabel" for=""> Notes: </label>
              <div>
                <textarea rows="6" cols="50" ng-model="allOpportunities.note"> {{allOpportunities.note}} </textarea>
              </div>
          </td>
          <td class="manageTd">
            <div>
              <button ng-click="mc.updateOpportunity(allOpportunities)" class="btn btn-warning" type="button"> Update </button>
              <button ng-click="mc.deleteOpportunity(allOpportunities)" class="btn btn-danger" type="button"> Delete </button>
            </div>
          </td>
        </tr>
    </table>
  </div>


 <!-- {{filteredDates.contactdate}} -->
