
/*///////////////////////////////////
//             GLOBAL              //
///////////////////////////////////*/
/*h1 headers*/
.headers {
  text-align: center;
}





/*///////////////////////////////////
//             NAV VIEW            //
///////////////////////////////////*/

/*container element for links*/
#navTable {
  text-align: center;
  width: 100%;
  display: inline-block;
}







/*///////////////////////////////////
//           HEADER VIEW           //
///////////////////////////////////*/









/*///////////////////////////////////
//           HOME VIEW             //
///////////////////////////////////*/

/*add new company element container*/
#companySubmitContainer {
  text-align: center;
  /*display: inline-block;*/
}







/*///////////////////////////////////
//           MANAGE VIEW           //
///////////////////////////////////*/








/*///////////////////////////////////
//           EMAIL VIEW            //
///////////////////////////////////*/
