
/*///////////////////////////////////
//             GLOBAL              //
///////////////////////////////////*/
/*h1 headers*/
h2 {
  text-align: center;
}
/*header background*/
header {
  background-color: #b0b0b0;
}

input {
  border-radius: 5px;
}




/*///////////////////////////////////
//           HEADER VIEW           //
///////////////////////////////////*/

/*auth button div container*/
.loginButtons {
  text-align: right;
}

/*header h1 element*/
.h1Header {
  font-size: 75px;
  text-align: center;
  margin: 0px 0px 0px 0px;

}

.authImage {
  height: 30px;
  width: 30px;
  border-radius: 25px;
}




/*///////////////////////////////////
//             NAV VIEW            //
///////////////////////////////////*/

/*container element for links*/
#navTable {
  text-align: center;
  width: 100%;
  /*display: inline-block;*/
}






/*///////////////////////////////////
//            ADD VIEW             //
///////////////////////////////////*/

/*add new company element container*/
#companySubmitContainer {
  text-align: center;
  width: 100%;
}







/*///////////////////////////////////
//           MANAGE VIEW           //
///////////////////////////////////*/

.manageDiv {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 5px;
}

.manageTable {
  border: 1px solid black;
  /*margin: 5px;*/
  text-align: right;
  display: inline-block;
}

.manageTd {
  border: 1px solid black;
  /*text-align: justify;*/
}

.filterContainer {
  text-align: center;
}

#textareaLabel {
  text-align: left;
  margin-right: 320px;
}



/*///////////////////////////////////
//           EMAIL VIEW            //
///////////////////////////////////*/
